<f:layout name="Default" />
<f:section name="searchform">
</f:section>
<f:section name="main">
<div id="tx_ezqueries_main" data-ezqueries-ajax-url="{url}">

	<f:if condition="{headline}">
		<f:then>
			<h2 class="tx_ezqueries_headline">{headline}</h2>
		</f:then>
	</f:if>

	<f:if condition="{textTop}">
		<f:then>
			<p class="tx_ezqueries_text tx_ezqueries_text_top">{textTop}</p>
		</f:then>
	</f:if>

	<f:if condition="{flashMessage}">
		<f:then>
			<div class="tx_ezqueries_message">{flashMessage}</div>
		</f:then>
	</f:if>

	{namespace viewHelper = Frohland\Ezqueries\ViewHelpers}

	<f:if condition="{showTemplate}">
		<f:then>
			<f:if condition="{useTemplate}">
				<f:then>
					<viewHelper:detailTemplate template="{template}" recordManagement="{recordManagement}" />
				</f:then>
				<f:else>
					<div class="tx_ezqueries_detail">
						<f:for each="{recordManagement.table.selectedColumns}" as="column">
							<div class="tx_ezqueries_detail_row tx_ezqueries_detail_row_{column.cssName}">
								<div class="tx_ezqueries_detail_label tx_ezqueries_detail_label_{column.cssName}">
									<f:if condition="{column.columnName}">
										<f:then>
											{column.columnName}
										</f:then>
										<f:else>
											&nbsp;
										</f:else>
									</f:if>
								</div>
								<div class="tx_ezqueries_detail_data tx_ezqueries_detail_data_{column.cssName}"><viewHelper:renderValue column="{column.name}" record="{recordManagement.records.0}" columnTypes="{recordManagement.table.columnTypes}" search="{recordManagement.conditions.search}" recordManagementRepository="{recordManagement.recordManagementRepository}" /></div>
							</div>
						</f:for>
					</div>

					<div class="tx_ezqueries_options tx_ezqueries_detail_options">
						<f:if condition="{useRecordBrowser}">
							<f:then>
								<viewHelper:recordBrowser action="detail" recordManagement="{recordManagement}" />
							</f:then>
						</f:if>
						<f:if condition="{showCloseLink}">
							<f:then>
								<div class="tx_ezqueries_options_close"><viewHelper:link action="list" arguments="{search : recordManagement.conditions.search, filters : recordManagement.conditions.filters, orderBy : recordManagement.conditions.orderBy, order : recordManagement.conditions.order}" additionalClass="tx_ezqueries_link_detail tx_ezqueries_link_abort" type="button" /></div>
							</f:then>
						</f:if>
					</div>
				</f:else>
			</f:if>
		</f:then>
	</f:if>

	<f:if condition="{textBottom}">
		<f:then>
			<p class="tx_ezqueries_text tx_ezqueries_text_bottom">{textBottom}</p>
		</f:then>
	</f:if>
</div>
</f:section>